### Metrica data unified

- 연구에 활용될 데이터 추출
- 이벤트 유형 통합

In [1]:
import os, sys
import tqdm
sys.path.append(os.path.abspath(os.path.dirname(os.getcwd())))

In [2]:
import numpy as np
import pandas as pd
import ast
import matplotlib.pyplot as plt

from datatools.features import unified_features
from datatools.labels import unified_labels

In [3]:
game_ids = [1, 2, 3]

all_events = []
for game_id in game_ids:
    events = pd.read_csv(f'../data/preprocess-data/event-data/match{game_id}.csv')
    events['game_id'] = game_id
    
    events = unified_features(events, game_id)
    events = unified_labels(events)
    
    events.to_csv(f'../data/unified-data/match{game_id}.csv',index=False)
    
    all_events.append(events)

all_events = pd.concat(all_events).reset_index(drop=True)
all_events['event_id'] = np.arange(len(all_events))
all_events.to_csv('../data/unified-data/all-match.csv',index=False)

In [8]:
all_events[all_events["eventType"] == "PASS"]["outcome"].value_counts()

outcome
True     2872
False     399
Name: count, dtype: int64

In [14]:
print(all_events[all_events["eventType"] == "PASS"]["type"].unique())
print(all_events[all_events["eventType"] == "PASS"]["subtype"].unique())

print("\n성공한 패스 : ", all_events[(all_events["eventType"] == "PASS") & (all_events["outcome"])]["type"].unique())
print("성공한 패스 : ", all_events[(all_events["eventType"] == "PASS") & (all_events["outcome"])]["subtype"].unique())

print("\n실패한 패스 : ", all_events[(all_events["eventType"] == "PASS") & (~all_events["outcome"]) & (~all_events["subtype"].isin(["HEAD", "HEAD-CLEARANCE"]))]["type"].unique())
print("실패한 패스 : ", all_events[(all_events["eventType"] == "PASS") & (~all_events["outcome"]) & (~all_events["subtype"].isin(["HEAD", "HEAD-CLEARANCE"]))]["subtype"].unique())

all_events[all_events["eventType"] == "PASS"].head()

['PASS' 'BALL LOST' 'BALL OUT']
['PASS' 'INTERCEPTION' 'HEAD' 'GOAL KICK' 'GOAL KICK-INTERCEPTION'
 'DEEP BALL' 'CLEARANCE' 'THROUGH BALL-DEEP BALL' 'HEAD-CLEARANCE'
 'HEAD-INTERCEPTION-CLEARANCE' 'CLEARANCE-INTERCEPTION' 'OFFSIDE']

성공한 패스 :  ['PASS']
성공한 패스 :  ['PASS' 'HEAD' 'GOAL KICK' 'DEEP BALL' 'THROUGH BALL-DEEP BALL'
 'HEAD-CLEARANCE' 'CLEARANCE' 'HEAD-INTERCEPTION-CLEARANCE' 'OFFSIDE']

실패한 패스 :  ['BALL LOST' 'BALL OUT']
실패한 패스 :  ['INTERCEPTION' 'GOAL KICK-INTERCEPTION' 'CLEARANCE' 'GOAL KICK'
 'DEEP BALL' 'CLEARANCE-INTERCEPTION']

,team,type,subtype,session,start_frame,start_time,end_frame,end_time,from,to,...,end_x,end_y,phase,game_id,is_left_to_right,goal,ownGoal,eventType,outcome,event_id
0,Away,PASS,PASS,1,1,0.04,3,0.12,B19,B21,...,59.40,30.96,1,1,False,False,False,PASS,True,0
1,Away,PASS,PASS,1,3,0.12,17,0.68,B21,B15,...,62.64,15.12,1,1,False,False,False,PASS,True,1
2,Away,PASS,PASS,1,45,1.80,61,2.44,B15,B19,...,48.60,22.32,1,1,False,False,False,PASS,True,2
3,Away,PASS,PASS,1,77,3.08,96,3.84,B19,B21,...,52.92,33.84,1,1,False,False,False,PASS,True,3
4,Away,PASS,PASS,1,191,7.64,217,8.68,B21,B22,...,34.56,70.56,1,1,False,False,False,PASS,True,4

In [15]:
print(all_events[all_events["eventType"] == "SHOT"]["type"].unique())
print(all_events[all_events["eventType"] == "SHOT"]["subtype"].unique())

all_events[all_events["eventType"] == "SHOT"].head()

['SHOT']
['HEAD-ON TARGET-GOAL' 'OFF TARGET-OUT' 'ON TARGET-SAVED'
 'HEAD-OFF TARGET-OUT' 'HEAD-ON TARGET-SAVED' 'BLOCKED'
 'HEAD-WOODWORK-OUT' 'ON TARGET-GOAL' 'OFF TARGET' 'OFF TARGET-HEAD-OUT'
 'SHOT']

,team,type,subtype,session,start_frame,start_time,end_frame,end_time,from,to,...,end_x,end_y,phase,game_id,is_left_to_right,goal,ownGoal,eventType,outcome,event_id
945,Home,SHOT,HEAD-ON TARGET-GOAL,1,2289,91.56,2309,92.36,A09,NaN,...,109.08,39.60,1,1,True,True,False,SHOT,True,945
946,Home,SHOT,OFF TARGET-OUT,1,5923,236.92,5953,238.12,A10,NaN,...,112.32,43.20,1,1,True,False,False,SHOT,False,946
947,Away,SHOT,OFF TARGET-OUT,1,7753,310.12,7789,311.56,B21,NaN,...,-4.32,46.80,1,1,False,False,False,SHOT,False,947
948,Home,SHOT,ON TARGET-SAVED,1,9628,385.12,9632,385.28,A08,NaN,...,105.84,33.12,1,1,True,False,False,SHOT,False,948
949,Home,SHOT,HEAD-OFF TARGET-OUT,1,18270,730.80,18301,732.04,A08,NaN,...,111.24,43.92,1,1,True,False,False,SHOT,False,949

In [16]:
print(all_events[all_events["eventType"] == "DRIBBLE"]["type"].unique())
print(all_events[all_events["eventType"] == "DRIBBLE"]["subtype"].unique())

all_events[all_events["eventType"] == "DRIBBLE"].head()

['CHALLENGE' 'CARRY']
['DRIBBLE-WON' 'CARRY']

,team,type,subtype,session,start_frame,start_time,end_frame,end_time,from,to,...,end_x,end_y,phase,game_id,is_left_to_right,goal,ownGoal,eventType,outcome,event_id
944,Home,CHALLENGE,DRIBBLE-WON,1,25595,1023.80,25595,1023.80,A01,NaN,...,NaN,NaN,1,1,True,False,False,DRIBBLE,False,944
2071,Away,CHALLENGE,DRIBBLE-WON,2,123079,4923.16,123079,4923.16,B26,NaN,...,NaN,NaN,5,2,False,False,False,DRIBBLE,False,2071
3356,Away,CARRY,CARRY,1,377,15.08,384,15.36,A07,NaN,...,53.67600,34.92000,1,3,False,False,False,DRIBBLE,True,3356
3357,Away,CARRY,CARRY,1,426,17.04,465,18.60,A08,NaN,...,72.34488,42.98904,1,3,False,False,False,DRIBBLE,True,3357
3358,Away,CARRY,CARRY,1,507,20.28,530,21.20,A02,NaN,...,87.40332,30.90384,1,3,False,False,False,DRIBBLE,True,3358

In [17]:
print(all_events[all_events["eventType"] == "CROSS"]["type"].unique())
print(all_events[all_events["eventType"] == "CROSS"]["subtype"].unique())

all_events[all_events["eventType"] == "CROSS"].head()

['PASS' 'BALL LOST' 'BALL OUT']
['CROSS' 'CROSS-INTERCEPTION']

,team,type,subtype,session,start_frame,start_time,end_frame,end_time,from,to,...,end_x,end_y,phase,game_id,is_left_to_right,goal,ownGoal,eventType,outcome,event_id
969,Home,PASS,CROSS,1,2263,90.52,2289,91.56,A10,A09,...,99.36,33.84,1,1,True,False,False,CROSS,True,969
970,Away,BALL LOST,CROSS-INTERCEPTION,1,6987,279.48,7043,281.72,B22,NaN,...,8.64,28.80,1,1,False,False,False,CROSS,False,970
971,Away,BALL LOST,CROSS-INTERCEPTION,1,11987,479.48,12032,481.28,B18,NaN,...,3.24,43.92,1,1,False,False,False,CROSS,False,971
972,Away,BALL LOST,CROSS-INTERCEPTION,1,29016,1160.64,29061,1162.44,B21,NaN,...,9.72,31.68,1,1,False,False,False,CROSS,False,972
973,Away,BALL LOST,CROSS-INTERCEPTION,1,34619,1384.76,34644,1385.76,B21,NaN,...,4.32,40.32,1,1,False,False,False,CROSS,False,973